body {
    padding-bottom: 500px;
}

h4 {
    color: brown;
}
.paragrafos {
    background-color: black;
    color: white;
    padding: 5px;
}

#descricao {
    background-color: pink;
    font-size: 30px;
    color: green;
}